<section class="products-show">

  <header class="page-header">
    <h1>Order <%= @order.id %></h1>
  </header>

  <div class="product-detail">
    <% @order.line_items.each do |line_item| %>
      <div class="product">
        <%= image_tag line_item.product.image_url, class: 'product-image' %> 
        <div class="product-info">
          <h3><%= line_item.product.name %></h3>
          <p><%= line_item.product.description %></p>
          <div class="quantity">
            <p>Quantity: <%= line_item.quantity %></p>
          </div>
          <div class="price">
            <p>Total: <%= humanized_money_with_symbol (line_item.total_price) %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="order-summary jumbotron">
    <h4>Thank you for your order!</h4>
    <p>Final Amount: <%= humanized_money_with_symbol (@order.total_cents / 100.0) %></p>
    <p>Email Used: <%= @order.email %></p>
  </div>

  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>
</section>
